<suspense>
  <ng-template [defaultView]="usersFactory" [componentParams]="componentParams"></ng-template>

  <ng-template fallbackView>
    <h4>Fetching Users...</h4>
  </ng-template>
</suspense>

<suspense>
  <app-not-lazy saludo="Hola hola"></app-not-lazy>
  <app-not-lazy2 saludos="lalalala holas"></app-not-lazy2>

  <ng-template fallbackView>
    <span>Loading... Please wait.</span>
  </ng-template>
</suspense>

<suspense>
  <app-not-lazy-eventdriven eventNameRef="evtReferencia"></app-not-lazy-eventdriven>
  <ng-template fallbackView>
    <p>Cargando event driven componente no lazy</p>
  </ng-template>
  <ng-template errorView>
    <p>ERROR cargando componente event driven (no lazy)</p>
  </ng-template>
</suspense>

<suspense>
  <ng-template [defaultView]="lazyInModuleFactory" [componentParams]="lazyInModuleParams" [isModule]="true"></ng-template>
  <ng-template fallbackView>
    <p>Cargando componente lazy desde modulo</p>
  </ng-template>
  <ng-template errorView>
    <p>ERROR cargando componente lazy desde modulo</p>
  </ng-template>
</suspense>

<ng-container *ngIf="condicionMagica; else noEsNa">
  <p>Se cumple</p>
</ng-container>
<ng-template #noEsNa>
  <p>No se cumple</p>
</ng-template>

<suspense>
  <ng-template [defaultView]="lazyStandaloneFactory" [componentParams]="lazyStandaloneParams" onEvent="lazystandalone"></ng-template>
  <ng-template fallbackView>
    <p>Cargando componente lazy standalone</p>
  </ng-template>
  <ng-template errorView>
    <p>ERROR cargando componente lazy standalone</p>
  </ng-template>
</suspense>